* {
  text-decoration: none;
  list-style: none;
}

/* header section style */
.header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  height: 6rem;
  /* margin-top: 0.5rem; */
  padding: 0.5rem 1rem;
}
.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-items li a {
  margin-right: 1.8rem;
  color: #3c354f;
}
.main-list,
.secondary-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-list li a {
  font-size: 2.8rem;
  font-weight: 700;
}
.secondary-list {
  margin-right: 7rem;
}
.secondary-list li a {
  font-size: 1.2rem;
  color: #3c354f;
}
.main-list span {
  color: rgb(255, 66, 165, 1);
}
.follow-media {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 0.5rem 1rem;
}
.youtube {
  color: red;
}
.tictok {
  background-color: #000;
}
/* start of banner section */
.banner-section {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-text-container {
  /* background-color: rgba(140, 87, 238, 0.05), rgba(241, 68, 174, 0.05); */
  padding: 9rem 12rem 1rem 7rem;
  background: linear-gradient(
    235deg,
    rgba(145, 89, 238, 0.01) 3.9%,
    rgba(241, 68, 174, 0.01) 100.56%
  );
}
.banner-title {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-special-text {
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-img-container img {
  width: 100%;
}
.banner-info p {
  font-size: 1.2rem;
  color: #534c64;
}
.banner-info i {
  margin-right: 1rem;
}
.btn-banner button {
  margin-top: 3rem;
  border: 0;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-right: 0.5rem;
}
.banner-sign-btn {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
}
.banner-guest-btn {
  background: #4ec5f7;
}
.second-banner {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  margin-top: 3rem;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.second-banner-img img {
  margin: 1rem;
  width: 100%;
}
.second-banner-text-container {
  padding: 2rem;
}
.second-banner-title {
  font-size: 3rem;
  color: #ff42a5;
  text-align: right;
}
.second-banner-text {
  color: #534c64;
  text-align: right;
  font-size: 1.2rem;
  line-height: 30px; /* 166.667% */
}
.btn-second-banner {
  cursor: pointer;
  border-radius: 4rem;
  padding: 1rem 3rem;
  border: 0;
  color: #fff;
  background-color: #ff42a5;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 15rem;
}
.game-quote {
  text-align: right;
}
.game-quote span {
  font-size: 0.9rem;
  color: #534c64;
}
/* end of banner section */
/* end of header section */

/* starting main section */
main {
  max-width: 60rem;
  margin: 3rem auto;
}
/* 1)online games container */
.section-title {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.section-title span {
  color: #ff42a5;
}
.section-text {
  text-align: center;
  font-size: 0.8rem;
  color: #534c64;
}
/* 1)end of online games container */
.games-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.game {
  cursor: pointer;
}
.game-img img {
  width: 12rem;
  height: 18rem;
}
.game-text p {
  width: 12rem;
  color: #534c64;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
}
/* end main section */
/* mobile device */
@media screen and (max-width: 576px) {
  .header {
    height: 0;
  }
  .list-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secondary-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 5rem;
  }
  .secondary-list li {
    margin-top: 1.6rem;
  }
  .follow-media {
    margin-top: 3rem;
    width: 18rem;
    height: 3.5rem;
    padding: 0.4rem 1.1rem;
  }
  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-text-container {
    max-width: 36rem;
    margin: 0 auto;
    padding: 5rem 5rem 1rem 3rem;
  }
  .second-banner {
    max-width: 36rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem 0.9rem;
  }
  .second-banner-img img {
    width: 100%;
    height: auto;
  }
  .second-banner-text-container {
    padding: 2rem 0.5rem;
  }
  .second-banner-title {
    text-align: center;
  }
  .second-banner-text {
    text-align: center;
  }
  .btn-second-banner {
    margin-left: 2.6rem;
  }
  .game-quote {
    text-align: center;
  }

  .section-title {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  .section-text {
    font-size: 0.8rem;
    margin-left: 0.9rem;
  }
  .games-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .game {
    padding: 0.5rem 1rem;
    box-shadow: 0.5rem 0.8rem 1rem 2rem #e6e6e6c3;
    margin-left: 3rem;
  }
  .game-img img {
    /* width: 100%; */
    width: 19rem;
  }
  .game-text p {
    width: 19rem;
  }
}

/* tablet view */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .header {
    padding: 0.2rem 1rem;
    height: auto;
  }
  .list-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }
  .secondary-list {
    margin-top: 1rem;
    margin-right: 1.5rem;
  }
  .banner-section {
    flex-direction: column;
  }
  .banner-text-container {
    padding: 1rem 0.5rem;
    margin-left: 0.8rem;
  }
  .banner-img-container img {
    width: 25rem;
  }
  .second-banner {
    grid-template-columns: repeat(1, 1fr);
  }
  .games-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .game {
    margin-left: 2rem;
  }
}
