* {
  text-decoration: none;
  list-style: none;
}

/* header section style */
.header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  height: 6rem;
  padding: 0.5rem 1rem;
}
.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-items li a {
  margin-right: 1.8rem;
  color: #3c354f;
}
.main-list,
.secondary-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-list li a {
  font-size: 2.8rem;
  font-weight: 700;
}
.secondary-list {
  margin-right: 7rem;
}
.secondary-list li a {
  font-size: 1.2rem;
  color: #3c354f;
}
.main-list span {
  color: rgb(255, 66, 165, 1);
}
.follow-media {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 0.5rem 1rem;
}
.youtube {
  color: red;
}
.tictok {
  background-color: #000;
}
/* start of banner section */
.banner-section {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-text-container {
  /* background-color: rgba(140, 87, 238, 0.05), rgba(241, 68, 174, 0.05); */
  padding: 9rem 12rem 1rem 7rem;
  background: linear-gradient(
    235deg,
    rgba(145, 89, 238, 0.01) 3.9%,
    rgba(241, 68, 174, 0.01) 100.56%
  );
}
.banner-title {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-special-text {
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-img-container img {
  width: 100%;
}
.banner-info p {
  font-size: 1.2rem;
  color: #534c64;
}
.banner-info i {
  margin-right: 1rem;
}
.btn-banner button {
  margin-top: 3rem;
  border: 0;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-right: 0.5rem;
}
.banner-sign-btn {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
}
.banner-guest-btn {
  background: #4ec5f7;
}
.second-banner {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  margin-top: 3rem;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.second-banner-img img {
  margin: 1rem;
  width: 100%;
}
.second-banner-text-container {
  padding: 2rem;
}
.second-banner-title {
  font-size: 3rem;
  color: #ff42a5;
  text-align: right;
}
.second-banner-text {
  color: #534c64;
  text-align: right;
  font-size: 1.2rem;
  line-height: 30px; /* 166.667% */
}
.btn-second-banner {
  cursor: pointer;
  border-radius: 4rem;
  padding: 1rem 3rem;
  border: 0;
  color: #fff;
  background-color: #ff42a5;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-left: 15rem;
}
.game-quote {
  text-align: right;
}
.game-quote span {
  font-size: 0.9rem;
  color: #534c64;
}
/* end of banner section */
/* end of header section */

/* starting main section */
main {
  max-width: 60rem;
  margin: 3rem auto;
}
/* 1)online games container */
.section-title {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.section-title span {
  color: #ff42a5;
}
.section-text {
  text-align: center;
  font-size: 0.8rem;
  color: #534c64;
}
/* 1)end of online games container */
.games-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.game {
  cursor: pointer;
  position: relative;
}

.game:hover .game-img img {
  filter: brightness(30%);
  transition: all 0.6s;
}
.game-img img {
  width: 12rem;
  height: 18rem;
}
.watch-now {
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff42a5;
  flex-direction: column;
  position: absolute;
  top: 9rem;
  left: 2rem;
  bottom: 1rem;
  visibility: hidden;
}
.watch-now i {
  color: #fff;
}

.game-img:hover .watch-now {
  visibility: visible;
  z-index: 1111;
  transition: all 1s;
}
.game-text p {
  width: 12rem;
  color: #534c64;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 20px;
}
/* 2)playing variations */
.playing-variations {
  margin-top: 4.6rem;
}
.playing-variations-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.playing-variations-info {
  width: 30rem;
  margin-left: 3rem;
}
.playing-variations-title {
  font-size: 3rem;
  color: #3c354f;
}
.playing-variations-title span {
  color: #ff42a5;
}
.playing-variations-text {
  font-size: 1.1rem;
  color: #534c64;
}
.playing-variations-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.playing-variations-img-container {
  position: relative;
}
.playing-variations-img-container img {
  margin-left: 5rem;
}
.playing-variations-img-container :first-child {
  width: 25rem;
  border-radius: 1rem;
  position: relative;
}
.playing-variations-img-container :last-child {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 19rem;
  left: -2.6rem;
}
.container-two {
  margin: 15rem 0;
}
/* 2)end of playing variations */
/* end main section */
/* carrier section */

.carrier-section {
  border-radius: 1rem;
  max-width: 80rem;
  height: 60rem;
  background: linear-gradient(90deg, #ff42a5 18.13%, #ff42a5 97.94%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.carrier-section-text-container {
  padding: 2rem 4.5rem;
}
.carrier-title {
  color: #fff;
  font-size: 3rem;
}
.carrier-text {
  color: #fff;
  width: 20rem;
  font-size: 0.8rem;
  line-height: 20px;
}
.carrier-img-section img {
  width: 40rem;
  height: 40rem;
}

.carrier-list-container {
  max-width: 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  color: #fff;
  font-size: 1rem;
}
.positeion,
.address p {
  margin-left: 6rem;
  margin-top: 1rem;
}
.carrier-btn {
  padding: 1rem 2rem;
  border: 0;
  border-radius: 3rem;
  font-size: 1, 2rem;
  color: #3c354f;
  cursor: pointer;
  font-weight: 900;
}
/* end of carrier section */
/* types of games section */

.types-of-games {
  max-width: 60rem;
  margin: 3rem auto;
}
.types {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.type {
  width: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 6rem;
}
.next-game {
  margin-left: 2rem;
  display: flex;
  justify-content: space-around;
}
.six {
  margin-left: 3rem;
}
.type p {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.type:hover {
  border: 0.9px solid #ff42a5;
  color: #ff42a5;

  transition: all 0.7s;
}

footer {
  background: #0b0223;
  padding: 2rem 4rem;
}
.primary-footer {
  text-align: center;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.primary-footer h1 {
  color: #fff;
  font-size: 3rem;
}
.primary-footer span {
  color: #ff42a5;
}
.footer-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-list ul li,
a {
  margin-right: 2rem;
  color: #fff;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon i {
  margin-left: 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  margin-bottom: 1rem;
}
footer p {
  text-align: center;
  color: #fff;
  margin-top: 1rem;
}
/* end of games section */
/* mobile device */
@media screen and (max-width: 576px) {
  .header {
    height: 100%;
    width: 100%;
    margin-bottom: 4rem;
    padding: 3rem 8rem;
  }
  .list-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secondary-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 5rem;
  }
  .secondary-list li {
    margin-top: 1.6rem;
  }
  .follow-media {
    justify-content: space-evenly;
    margin-top: 3rem;
    width: 25rem;
    height: 3.5rem;
    padding: 0.4rem 5.1rem;
  }
  .banner-section {
    width: 100%;
    flex-direction: column-reverse;
    padding: 1rem 5rem;
  }
  .banner-text-container {
    width: 100%;
  }
  .btn-banner {
    display: flex;
  }
  .second-banner {
    width: 36rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem 1.9rem;
  }
  .second-banner-img img {
    width: 18rem;
  }
  main {
    max-width: 32rem;
    margin: 5rem auto;
  }
  .second-banner-img img {
    width: 100%;
    height: auto;
  }
  .second-banner-text-container {
    padding: 2rem 0.5rem;
  }
  .second-banner-title {
    text-align: center;
  }
  .second-banner-text {
    text-align: center;
  }
  .btn-second-banner {
    margin-left: 2.6rem;
  }
  .game-quote {
    text-align: center;
  }

  .section-title {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  .section-text {
    font-size: 0.8rem;
    margin-left: 0.9rem;
  }
  .online-games-container {
    margin: 1rem 6rem;
  }
  .games-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .game {
    padding: 0.5rem 1rem;
    box-shadow: 0.5rem 0.8rem 1rem 2rem #e6e6e6c3;
    margin-left: 3rem;
  }
  .game-img img {
    /* width: 100%; */
    width: 19rem;
  }
  .game-text p {
    width: 19rem;
  }
  .playing-variations {
    width: 80%;
    margin: 0.1rem 6rem;
  }
  .playing-variations-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
  }
  .playing-variations-img-container {
    position: relative;
  }
  .playing-variations-img-container :first-child {
    width: 18rem;
  }
  .playing-variations-img-container :last-child {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 10rem;
    left: -4rem;
  }
  .playing-variations-info {
    width: 80%;
  }
  .playing-variations-title {
    margin-top: 5rem;
  }
  .carrier-section {
    padding: 1rem 7.6rem;
    width: 100%;
    height: 86rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .carrier-img-section img {
    width: 100%;
  }
  .carrier-section-text-container {
    padding: 0.5rem 0.3rem;
  }
  .carrier-list-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .types-of-games {
    max-width: 70%;
  }
  .types {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
  }
  .six {
    margin: 0;
  }
  footer {
    width: 100%;
    padding: 2rem 8rem;
  }
  .footer-container {
    width: 90%;
    padding: 1rem 1rem;
  }

  .footer-list {
    margin: 1rem 2rem;
  }
  .footer-list ul {
    justify-content: space-evenly;
    gap: 0.5rem;
  }
  .footer-list ul li,
  a {
    margin-right: 1.9rem;
    margin-left: 0.6rem;
  }
}

/* tablet view */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .header {
    padding: 0.2rem 1rem;
    height: auto;
  }
  .list-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }
  .secondary-list {
    margin-top: 1rem;
    margin-right: 1.5rem;
  }
  .banner-section {
    flex-direction: column;
  }
  .banner-text-container {
    padding: 1rem 0.5rem;
    margin-left: 0.8rem;
  }
  .banner-img-container img {
    width: 25rem;
  }
  .second-banner {
    grid-template-columns: repeat(1, 1fr);
  }
  .games-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .game {
    margin-left: 2rem;
  }
  .playing-variations {
    margin: 0.1rem 1rem;
  }
  .playing-variations-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 5rem 4rem;
  }
  .container-two {
    margin-top: 15rem;
  }
  .container-two,
  .playing-variations-info {
    margin-top: 6rem;
  }
  .container-two,
  .playing-variations-container img {
    margin-top: 5rem;
  }
  .carrier-section {
    height: 90rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .types {
    grid-template-columns: repeat(3, 1fr);
  }
}
